.container-position {
    width: 500px !important;
    display:block !important;
    margin:auto !important;
    margin-top:40px !important;
}
p {
    text-align: center;
}
button {
    margin-top: 20px !important;
    background-color: #0c9999 !important;
    color: white !important;
    padding: 12px;
    outline: none;
    border:none;
    width: 100%;
    cursor: pointer;
}
input::placeholder {
    color: black !important;
}