html, body {height: 100% !important;}
div.ui.vertical.menu {
    width: 250px !important;
    box-sizing: border-box;
    background-color: #0c9999 !important;
    position: fixed;
    bottom:0;
    height: 100%;
    box-sizing: border-box;
}
div.item {
    background-color: #0c9999 !important;
    color: white !important;
    font-size: 18px !important;
    border-bottom: 1px solid #8888888;
    border-radius: 0;
    box-sizing: border-box !important;
    font-weight: bold !important;
}
a.item {
    color: white !important;
    font-size: 14px !important;
    padding-left: 25px !important;
}
a.item:hover {
    background-color: #032828 !important;
}
a.active {
    background-color: #f2f2f2 !important;
    color: #0c9999 !important;
}
i.add.circle.icon {
    float: right !important;
    color: white !important;
}
div.ui.mini.fluid.input input {
    background-color: transparent !important;
    border: none !important;
    color: white !important;
}
div.ui.mini.fluid.input input::placeholder {
    color: white;
    opacity: .7;
}
div.item.search-custom {
    padding: 5px !important;
}
i.search.icon { color: white !important;}
div.ui.top.left.pointing.dropdown {
    float: right !important;
}
div.menu.transition.visible {
    position: absolute !important;
}