div.ui.segment.chat-header {
    margin:0 !important;
    font-size: 16px !important;
    font-weight: bold;
    height: 75px;
}
.chat-body {
    height: calc(100% - 150px);
    overflow-y: scroll;
    background-color: white;
    padding:20px;
}
div.content {
    background-color: white !important;
}
div.header {
    border:none !important;
    padding: 0 !important;
    background-color: white !important;
    margin: 0 !important;
    box-shadow: none !important;
}
div.ui.fluid.input.input-msg {
    padding: 10px !important;
    background-color: white !important;
    height: 75px;
}
div.ui.fluid.input.input-msg input {
    outline: none !important;
    border: 2px solid black !important;
    background-color: none !important;
    padding: 15px !important;
}
div.ui.fluid.input.input-msg input::placeholder {
    color: black;
    font-weight: bold;
}
a.avatar {
    margin-right: 10px !important;
}